<meta charset='utf-8'>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <h2> {{product}} is in the stock</h2>
  Current time: 
  <input v-bind:value="showDate" maxlength="300" style="width:300px"> 
  <hr>
  <table border=1>
    <tr>
      <th>quantity</th>
      <th>name</th>
      <th>OOS(OUT OF STOCK)</th>
      <th>opt</th>
    </tr>
    <tr v-for="product in products">
       <td> <input type="number" v-model.number="product.quantity"> </td>
       <td> <input type="text" v-model.trim="product.name"></td>
       <td> <span v-if="product.quantity <= 0">1</span>  <span v-if="product.quantity > 0">0</span></td>
       <td>
         <button @click="product.quantity += 1">add</button>
         <button @click="product.quantity -= 1">reduce</button>
         <button @click="products.splice(products.indexOf(product),1)">&times;</button>
       </td>
    </tr>
  </table>

  <h2> Total Inventory: {{totalQuantity}}</h2>

  <hr>

  html exec: <p v-html="code"></p>
  <p>2 ^ 3 = {{Math.pow(2, 3)}}</p>
  <p>{{message.split('').reverse().join('')}}</p>
  <p>{{ bool?'bool is true':'bool is false' }}</p>

  <hr>
  <p> {{message}} </p>
  <button v-on:click="reverseMessage">逆转消息</button>
  <hr>
  <ol>
      <fruit-item 
          v-for="item in fruits"
          v-bind:todo="item"
          v-bind:key="item.id">
      </fruit-item>
  </ol>
  <div v-for="(v, i) in hobbies">
        {{i}} - {{v.ball}}
  </div>
  <hr>
  <div v-for="(v, k, i) of person">
      {{i}} - {{k}} - {{v}}
  </div>
  <hr>

  <li v-for="n in evenNumbers">{{ n }}</li>
  <li v-for="n in even(numbers)">{{ n }}</li>
  <li v-for="n in 5">{{ n }}</li>
  <hr>

  <button @click="counter += 1">add 1</button>
  <span>{{counter}}</span> <br>
  <button @click="greet">greet</button> <br>
  <button @click="say('hello')">hello</button> <br>

  <!-- modifier -->
  <div @click="say('yeah!')">
      <button @click.stop="say('嵌套事件阻止传播,外层div不会弹框')" >ok</button>
  </div>

  <a href="#" @click.prevent='say("阻止默认事件")'>不加.prevent修饰符的话页面会被重新加载</a> <br>

  <button @click.once='say("一次性按钮")'>一次性</button>
  <hr>

  <div :style='css_div1' @click='say("div1: 冒泡会使我弹框，不管有没有self")'>
    <div :style='css_div2' @click.self='say("div2: 只有点击我，我才会弹框")'>
        <div :style='css_div3' @click='say("div3: 我会触发冒泡事件")'>div3</div>div2
    </div>div1
  </div>

  <br>
  
  <div :style='css_div1' @click.capture='say("div1: capture让我最先冒泡")'>
    <div :style='css_div2' @click.capture='say("div2: capture由外而内，冒泡由内而外")'>
        <div :style='css_div3' @click='say("div3: 我会触发冒泡")'>div3</div>div2
    </div>div1
  </div>

  <br>

  <!-- 按键监听 -->
  <button @keydown.13='say("13")'>13</button>
  <button @keydown.enter='say("Enter")'>enter</button>
  <button @keydown.tab='say("Tab")'>tab</button>
  <button @keydown.delete='say("Del")'>del</button>
  <button @keydown.esc='say("ESC")'>esc</button>
  <button @keydown.space='say("space")'>space</button>
  <button @keydown.up='say("up")'>up</button>
  <button @keydown.down='say("down")'>down</button>
  <button @keydown.left='say("left")'>left</button>
  <button @keydown.right='say("right")'>right</button>
  <button @keydown.f1.prevent='say("自定义的F1")'>F1</button>
    
  <br>
  

  <!-- 系统按键 -->
  <button @keydown.ctrl.13='say("ctrl + Enter")'>ctrl + Enter</button>
  <button @keydown.alt.65='say("alt + a")'>alt + a</button>
  <button @keydown.shift.up='say("shift + up")'>shift + up</button>
  <button @click.meta='say("windows + click")'>win + click</button>

  <br>

  <!-- 鼠标监听 这些修饰符会限制处理函数仅响应特定的鼠标按钮。--> 
  <button @click.right='say("right + click")'>right click</button>
  <button @click.left='say("left + click")'>left click</button>
  <button @click.middle='say("middle + click")'>middle click</button>

  <br>

  <input v-model="product" placeholder="change me">
  <p style="white-space:pre-line;">{{product}}</p>
  <textarea v-model="product" placeholder="change me"></textarea> <!-- below 等价 -->
  <textarea :value="product" @input="product=$event.target.value" placeholder="change me"></textarea>
  <br>
  v-model 忽略value、checked、selected 初始值而总是 将 Vue 的data作为数据来源<br>
  你应该通过JS在组件的data声明初始值:
  <input type="checkbox" id="checkbox" v-model="bool" checked>
  <label >{{ bool }}</label> <br><br>
  <input type="checkbox" id="jack" value="Jack" v-model="checkboxs">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="checkboxs">
  <label for="john">John</label>
  <input type="checkbox" id="cc" value=""  v-model="checkboxs">
  <label for="cc">noValue</label>
  <input type="checkbox" id="mike" value="Mike" v-model="checkboxs">
  <label for="mike">Mike</label><br>
  <span>Checked names: {{checkboxs}}</span>
  <hr>

  <input type="radio" id="one" value="1" v-model="num">
  <label for="one">one</label>
  <br>
  <input type="radio" id="two" value="2" v-model="num">
  <label for="two">two</label>
  <br>
  <span>num: {{ num }}</span>
  <br>

  <select v-model="num">
    <option disabled value="">请选择</option>
    <option value=3>A</option>
    <option value=4>B</option>
    <option value=7>C</option>
  </select>

  <select id="" name="" v-model='num'>
      <option v-for="f in fruits" :value="f.id">{{f.name}}</option>
  </select>
  <span>Selected: {{ num }}</span>
  <hr>

  <!-- 组件 -->
  <btc title="This is title: "></btc><br>
  <btc :title="message"></btc><br>

  <!-- 添加:key 会使得click失效 -->
  <btc 
    v-for="f in fruits"
    :title="f.name"
   ></btc>

  <!-- 文章模板 -->
  <blog 
    v-for="post in posts" 
    :post="post"
    :css="blogCls"
    :style="{fontSize: postFontSize + 'em'}"
    @enlarge-text="postFontSize += 0.1"
    @enlarge-special="postFontSize += $event"
    @saySomething="say(111)"
  ></blog>

  <!-- v-model 模板 -->
  <vinput v-model="product"></vinput> 

  <!-- slot 元素-->
  <mdiv :css="blogCls" some="just test">hello</mdiv> <br>

  <!-- 动态模板 -->
  <hr> <h3>动态模板</h3>
  <button v-for="f in fruits" :key="f.name" @click="currentCom = f.name">{{f.name}}</button><br>
  <computed :is="showCom" :post="posts[0]" v-model="product" :css="blogCls" >hello</computed>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  


    
</div> <!-- #app -->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
Vue.component('btc', {
    data:()=>{return {count:0}}, 
    template:'<button @click="count++">{{title}}: {{count}}</button>',
    props:['title'],
});

Vue.component('blog', {
    props: ['post', 'css'],
    template: `
        <div :style="css">
            <h3>{{post.title}}</h3><hr>
            <small>{{post.date}}</small><hr>
            <div v-html="post.content" ></div>
            <button @click="$emit('enlarge-text')">Enlarge text</button>
            <button @click="$emit('enlarge-special', 0.3)">Enlarge by special value</button>
            <button @click="$emit('saySomething', 333)">method get value</button>
        </div>
    `,
});

Vue.component('vinput', {
    props: ['value'],
    template: `
        <input 
            :value="value" 
            @input="$emit('input', $event.target.value)"
        >
    `,
});

Vue.component('mdiv', {
    props: ['css', 'some'],
    template: `
        <div :style="css" @click="$emit('cc', 3)">
            <h3>{{some}}<h3><hr>
            <slot></slot>
        </div>
    `,
});


const app = new Vue({
    el: '#app',
    data: {
        currentCom: 'lemon',
        code: '<span style="color:red">this should be red</span>',
        num: 0,
        css_div1:{
            background: '#aef',
            width:'40%',
            height:'70px',
        },
        css_div2:{
            background: '#fea',
            width:'80%',
            height:'50px',
        },
        css_div3:{
            background: '#efa',
            width:'80%',
            height:'30px',
        },
        
        posts: [
            {
                id: 0, 
                title:"First blood", 
                date: new Date().toLocaleString(), 
                content: "This is first article's content",
            }
        ],
        postFontSize:1,
        products: [],
        product: "Boots",
        showDate: new Date().toLocaleString(),
        message: 'This is normal text',
        fruits: [
            {id:0, name: 'apple'},
            {id:1, name: 'pear'},
            {id:2, name: 'banana'},
        ],
        counter: 0,

        hobbies:[
            {id:0, ball: 'basketball'},
            {id:1, ball: 'football'},
            {id:2, ball: 'badminton'},
            {id:3, ball: 'table tennis'},
        ],

        person:{
            firstname: 'Li',
            lastname: 'zixian',
            age: 32,
            message: 'my addr is sziit',
        },

        numbers: [1, 2, 3, 4, 5],
        bool: false,
        checkboxs: [],

        blogCls: {
            marginTop: "20px",
            border:"1px dotted #ccc",
            padding: "10px",
        },
    },

    computed: {
        totalQuantity(){
            return this.products.reduce((sum, product) => {
                return sum + product.quantity
            }, 0)
        },

        evenNumbers: function(){
            return this.numbers.filter(n=>{return n%2===0});
        },

        showCom: function(){
            switch(this.currentCom){
                case 'watermalon':
                    return 'mdiv';
                case 'lemon':
                    return 'vinput';
                case 'banana':
                    return 'blog';
            }
        }
    },

    methods: {
        reverseMessage: function () {
            this.message = this.message.split('').reverse().join('')
        },
        even: ns=>{return ns.filter(n=>{return n%2==0})},
        greet: function(event){
            alert('Hello' + this.product + '!');
            if(event){alert(event.target.tagName)}
        },
        say: (x)=>alert(x),

    },

    //生命周期
    created(){
        console.log("create happened");
        fetch('https://api.myjson.com/bins/74l63')
        .then(response => response.json())
        .then(json => {this.products = json.products})
    },
    mounted: function(){console.log("mount happened ")},
    updated: function(){console.log("update happened")},
    destroyed: function(){console.log("destroyed happened")},
})

Vue.component('fruit-item', {
    props: ['todo'],
    template: '<li>{{todo.name}}</li>',
})

app.fruits.pop();
app.fruits.push({id:4, name:'lemon'});
app.fruits.shift();
app.fruits.unshift({id:1, name:'banana'});
app.fruits.splice(2,1,{id:3, name:'watermalon'});
app.fruits.sort();
app.fruits.reverse();
app.fruits.splice(1,1,{id:4, name:'lemon'});

fruits_sel = app.fruits.filter(function(fruit){
    return fruit.name.match(/on/);
})

console.log(fruits_sel[1].name);

//设置按键别名
Vue.config.keyCodes.f1 = 112;

</script>
